<div class="portfolio">
    <div class="title">Proyectos</div>

    <div class="portfolio-nav">
        <ul>
            <li>All</li>
            <li>Website</li>
            <li>Apps</li>
        </ul>
    </div>

    <div class="portfolio-content">
        <div class="portfolio-item">
            <img src="../../../../assets/img/imgprueba.jpg" alt="img">
            <span>Dog Shelter Website</span>
        </div>
        <div class="portfolio-item">
            <img src="../../../../assets/img/imgprueba.jpg" alt="img">
            <span>Dog Shelter Website</span>
        </div>
        <div class="portfolio-item">
            <img src="../../../../assets/img/imgprueba.jpg" alt="img">
            <span>Dog Shelter Website</span>
        </div>
        <div class="portfolio-item">
            <img src="../../../../assets/img/imgprueba.jpg" alt="img">
            <span>Dog Shelter Website</span>
        </div>
    </div>
</div>